*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cofee-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.container{
    height: 100%;
    width: 100%;
    background: floralwhite;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 70px;
    font-weight: bold;
}
.heading span{
    color: #b2744c;
}
.row{
    width: 100%;
    max-width: 1170%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
}
.row .card1 img{
    margin-top: 20px;
    padding-left: 90px;
    width: 70%;
    height: 70%;
    object-fit: cover;
}
.row .card1 h3{
    font-size: 40px;
    padding-left: 100px;
    margin-top: 8px;
}
.row .card1 p{
    padding-left:130px;
    font-size: 20px;
}
.row .card1 button{
    height: 30px;
    color: #fff;
    background: rgb(226, 65, 53);
    padding: 5px 30px;
    margin-top: 5px;
    margin-left: 130px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}
.row .card1 button:hover{
    border: 2px solid rgb(214, 149, 144);
    background-color: rgb(117, 68, 68);
}   
.row1 .card2 img{
    margin-left: 30px;
    padding-left: 80px;
    width: 30%;
    height: 20%;
    object-fit: cover;
}

